<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script type="text/javascript">
        MathJax = {
            tex: {
                tags: 'ams'  // Enables autonumbering for all displayed equations
            }
        };
</script>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
  MathJax = {
    loader: {
              load: ['[tex]/mathtools', '[tex]/centernot']
          },

    tex: {
      displayMath: [['\[', '\]'], ['$$', '$$']],  // block
      inlineMath: [['\(', '\)']]                  // inline
      packages: {'[+]': ['mathtools', 'ams', 'centernot']},
      autoload: {
	centernot: ['centernot', 'centerOver']
      }
    }
  };
</script>

