<script type="text/javascript">
    MathJax = {
        loader: {
            load: ['[tex]/mathtools', '[tex]/ams', '[tex]/centernot']  // Load necessary extensions
        },
        tex: {
            displayMath: [['\\[', '\\]'], ['$$', '$$']],  // Block delimiters
            inlineMath: [['\\(', '\\)']],                 // Inline delimiters
            packages: {'[+]': ['mathtools', 'ams', 'centernot']},  // Add AMS package for \label, \ref
            tags: 'ams',
        }
    };
</script>

<script type="text/javascript" id="MathJax-script" async 
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

