<head>

  {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }}

  <!-- custom css -->
  {{ $files := readDir "assets/css/" }}

{{ range $files }}
    {{ if eq (strings.HasSuffix .Name ".css") true }}
        {{ $cssFile := . }}
        {{ $cssContent := readFile (printf "assets/css/%s" $cssFile.Name) | resources.FromString $cssFile.Name }}
        {{ $processedCSS := $cssContent | resources.PostCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $processedCSS.Permalink }}" integrity="{{ $processedCSS.Data.Integrity }}">
    {{ end }}
{{ end }}

</head>

